.header {
    height: 60px;
    padding: 0 8%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    height: 80%;
}

.header-logo {
    height: 100%;
}

#header-toggle-mode {
    margin: 0;
    padding: 5px;
}

.contact-form-error {
    color: red;
    font-size: 12px;
    font-weight: 300;
}

.contact-form-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    user-select: none;
    padding: 8px 16px;
    border-radius: 50px;
    font-family: 'Poppins';
    background-color: red;
}

@media (max-width: 900px) {
    .header {
        height: 55px;
    }
}

@media (max-width: 500px) {
    .header {
        height: 50px;
    }
}