.body-light {
    display: flex;
    color: #000000;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.body-dark {
    display: flex;
    color: #ffffff;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
}

/* Header */

.header {
    height: 60px;
    padding: 0 8%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    height: 80%;
}

.header-logo {
    height: 100%;
}

#header-toggle-mode {
    margin: 0;
    padding: 5px;
}

@media (max-width: 900px) {
    .header-light {
        height: 55px;
    }

    .header-dark {
        height: 55px;
    }

}

@media (max-width: 500px) {
    .header-light {
        height: 50px;
    }

    .header-dark {
        height: 50px;
    }
}

/* Home page */

.home-body {
    flex: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid white 1px;
}

.home-head {
    margin: 20px;
    font-size: 3rem;
    font-family: 'Salsa';
}

.home-inputarea-light {
    display: flex;
    padding: 8px 8px 8px 15px;
    margin: 10px;
    border-radius: 50px;
    background-color: #d7d7d7;
}

.home-inputarea-dark {
    display: flex;
    padding: 8px 8px 8px 15px;
    margin: 10px;
    border-radius: 50px;
    background-color: #282828;
}

.input-light {
    width: 60vw;
    border: none;
    outline: none;
    color: black;
    max-width: 500px;
    font-size: 1rem;
    font-weight: 300px;
    caret-color: red;
    border-radius: 50px;
    font-family: 'Poppins';
    background-color: #d7d7d7;
}

.input-dark {
    width: 60vw;
    border: none;
    outline: none;
    color: white;
    max-width: 500px;
    font-size: 1rem;
    font-weight: 300px;
    caret-color: red;
    border-radius: 50px;
    font-family: 'Poppins';
    background-color: #282828;
}

.home-input-btn-light {
    border: none;
    background: transparent;
    background-color: #d7d7d7;
}

.home-input-btn-dark {
    border: none;
    background: transparent;
    background-color: #282828;
}

/* Footer */

.footer {
    padding: 2px 5px;
    text-align: center;
}

.footer-link {
    color: #ff0000;
    font-weight: 500;
    text-decoration: none;
}