.home-body {
    display: flex;
    color: black;
    min-height: 100vh;
    font-family: 'Poppins';
    flex-direction: column;
    background-color: rgb(240, 240, 255);
}

.home-section {
    flex: 1;
    width: 80vw;
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    padding: 50px 0px;
    flex-direction: column;
    justify-content: center;
}

.home-segment {
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(150, 150, 255) 4px;
    background-color: rgb(225, 225, 255);
}

.home-heading {
    font-size: 3rem;
    text-align: center;
}

.home-textfield {
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px 10px 0px;
    background-color: #ffffff;
}

#home-btn-submit,
#home-btn-copy {
    font-size: 1rem;
    border-radius: 8px;
    font-family: 'Poppins';
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .home-segment {
        padding: 17px;
    }

    .home-heading {
        font-size: 2.5rem;
    }

    .home-textfield {
        margin: 27px 0px 8px 0px;
    }

    #home-btn-submit,
    #home-btn-copy {
        font-size: 0.9rem;
    }
}

@media (max-width: 330px) {
    .home-segment {
        padding: 15px;
    }

    .home-heading {
        font-size: 2rem;
    }

    .home-textfield {
        margin: 25px 0px 6px 0px;
    }

    #home-btn-submit,
    #home-btn-copy {
        font-size: 0.8rem;
    }
}

/* Footer */

.footer-body {
    padding: 2px 0px;
    text-align: center;
    background-color: rgb(240, 240, 255);
}

.footer-link {
    color: black;
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer-body {
        font-size: 0.9rem;
    }
}

@media (max-width: 330px) {
    .footer-body {
        font-size: 0.8rem;
    }
}