@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

::-webkit-scrollbar {
  display: none;
}

.WebApp {
  font-family: 'Poppins';
}